
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
    position: relative;
    text-align: center;
    display: flexbox;
    background-color: #dedede;
    transition: background-color 0.5s ease;
    
  }
  
  .hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    background-color: aliceblue;
    position: relative;
    display: flex;
    margin-left: 500px;
    float: left;
    width: 33.3%;
    margin-bottom: 0px; 
    padding: 0 8px;
  }
  
.hero h2{
    font-style: italic;
}

  .card {
    margin: auto;
    width: 350px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
  }
  .card img{
    width: 200px;
    border-radius: 25%;
  }
  .card button{
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    border-radius: 5px;
  }
  .card button.Tombol-Dark{
     background-color: #666 ;
     color: #fff;
  }

  /*efek gelap*/
  body.Dark{
    background-color: #000;
  }
  .Dark.card{
    background-color: #666;
    color:#fff ;
  }
  .Dark.card button.Tombol-Light{
    display: inline;
  }
  .Dark.card button.Tombol-Dark{
    display: none;
  }
  .container {
    
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(0, 0, 0);
  }
  
  @media screen {
    .column {
      width: 20%;
      display: flexbox;

    }
  }
 
